@import "bootstrap-sprockets";
@import "bootstrap";

div {
    /*outline: 1px solid #3c1;*/
    /*outline: 1px solid rgba(51, 204, 17, 0.5);*/
}

.wrapper {
    width: 90%;
    margin: auto;
}

.categories {
	line-height: 50px;
}

.cate_name {
	display: inline-block;
}

img.gravatar {
	width: 64px;
	height: 64px;
	border-radius: 32px;
}

img.gravatar-sm {
	width: 40px;
	height: 40px;
	border-radius: 20px;
}