<h1>Edit Reply <%= @topic.title %></h1>

<%= form_for @comment, :url => topic_comment_path(@topic, @comment) do |f| %>

  <%= render :partial => "form", :locals => { :f => f } %>

  <div class="form-group">
    <%= f.submit "送出", :class => "btn btn-primary" %>
  </div>

<% end %>