<h1>Reply <%= @topic.title %></h1>

<%= form_for @comment, :url => topic_comments_path(@topic) do |f| %>

  <%= render :partial => "form", :locals => { :f => f } %>

  <div class="form-group">
    <%= f.submit "é€å‡º", :class => "btn btn-primary" %>
  </div>

<% end %>